<!DOCTYPE html>
<html>
<head>
	<title>VueTest</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style type="text/css">
    </style>
</head>
<body>
	<div id="app">
        <p>Say: {{message}}</p>
        <span v-bind:title="titleMessage">鼠标悬停几秒钟查看此处动态绑定的提示信息！</span>
        <h1 v-if="seen">显示</h1>
        <ul>
            <li v-for="todo in todoList">{{ todo.text }}</li>
        </ul>
        <div>
            <button v-on:click="reverseMessage"> {{ messageInfo }}</button>
        </div>
        <p>{{ inputValue }}</p>
        <input v-model="inputValue" />
        <todo-item
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id"
        ></todo-item>
	</div>
</body>
<script type="text/javascript">
    Vue.component("todo-item", {
        props: ['todo'],
        template: '<li> {{ todo.id }}  {{todo.text }}</li>'
    });

	var app = new Vue({
        el: "#app",
        data: {
            message: "Hello World",
            titleMessage: "页面加载于：" + new Date().toLocaleString(),
            seen: true,
            todoList: [{
                text: "Java"
            }, {
                text: "C++"
            }, {
                text: "PHP"
            }],
            messageInfo: "反转信息",
            inputValue: "Hi",
            groceryList: [
                { id: 0, text: '蔬菜' },
                { id: 1, text: '奶酪' },
                { id: 2, text: '随便' }
            ]
        },
        methods: {
            reverseMessage: function() {
                this.messageInfo = this.messageInfo.split("").reverse().join("");
            }
        }
    });
</script>
</html>
