<!DOCTYPE html>
<html>
<head>
    <title>VueTest</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <style type="text/css">
    </style>
</head>
<body>
	<div id="app">
        <div v-for="(value, key, index) in person">{{ key }} - {{ index }} - {{ value }}</div>
        <ul>
            <li v-for="(item, index) in countries" v-bind:key="item.id"><h1>{{index}} : {{item.key}}</h1></li>
            <li v-for="item in countries">{{ item.key }}</li>
        </ul>
        <ul>
            <li v-for="n in evenNumbers">{{ n }}</li>
        </ul>
        <ul>
            <li v-for="n in even(numbers)">{{ n }}</li>
        </ul>
        <div>
            <span v-for="n in 10">{{ n }}</span>
        </div>

        <ul>
            <template v-for="item in countries">
              <li>{{ item.key }}</li>
              <li class="divider" role="presentation"></li>
            </template>
        </ul>
        <div>
            <form v-on:submit.prevent="addNew">
                <label for="newtodo">Add new item:</label>
                <input
                    v-model="newTitle"
                    id="newtodo"
                    placeholder="Input a title">
                <button>Add</button>
            </form>
            <ul>
                <li
                    is="todo-item"
                    v-for="(item, index) in todolist"
                    v-bind:key="item.key"
                    v-bind:id="item.id"
                    v-bind:title="item.title"
                    v-on:remove="todolist.splice(index, 1)"
                ></li>
            </ul>
        </div>
    </div>
</body>
<script type="text/javascript">
    Vue.component("todo-item", {
        props: ['title'],
        template: `
        <li>{{ title }} <button v-on:click="$emit(\'remove\')">Remove</button></li>
        `
    });
	var app = new Vue({
        el: "#app",
        data: {
            person: {
                age: 25,
                name: "Jim",
                nation: "China"
            },
            countries: [{
                key: "CN",
                id: "1"
            }, {
                key: "US",
                id: "2"
            }, {
                key: "UK",
                id: "3"
            }],
            numbers: [1, 2, 3, 4, 5, 6, 7, 8],
            newTitle: '',
            todolist: [
            {
                id: 1,
                title: 'Do the dishes',
            },
            {
                id: 2,
                title: 'Take out the trash',
            },
            {
                id: 3,
                title: 'Mow the lawn'
            }
            ],
            nextTodoId: 4
        },
        computed: {
            evenNumbers: function() {
                return this.numbers.filter(function(n) {
                    return n % 2 === 0;
                });
            }
        },
        methods: {
            even: function() {
                return this.numbers.filter(function(n) {
                    return n % 2 === 0;
                });
            },
            addNew: function() {
                this.todolist.push({
                    id: this.nextTodoId,
                    title: this.newTitle
                });
                this.newTitle = '';
                this.nextTodoId++;
            }
        }
    });
</script>
</html>
